<h1 style="text-align: center"> Lab 22 Task: Python Library (Pandas) </h1>

In [5]:
import numpy as np
import pandas as pd

#### Load [Dataset URL](https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data) to a dataframe named wine_df such that column names is not taken from first row of data

In [6]:
url = "https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data"
wine_df = pd.read_csv(url, header=None)

#### Display first 5 rows of the DataFrame

In [7]:
print(wine_df.head(5))

   0      1     2     3     4    5     6     7     8     9     10    11    12  \
0   1  14.23  1.71  2.43  15.6  127  2.80  3.06  0.28  2.29  5.64  1.04  3.92
1   1  13.20  1.78  2.14  11.2  100  2.65  2.76  0.26  1.28  4.38  1.05  3.40
2   1  13.16  2.36  2.67  18.6  101  2.80  3.24  0.30  2.81  5.68  1.03  3.17
3   1  14.37  1.95  2.50  16.8  113  3.85  3.49  0.24  2.18  7.80  0.86  3.45
4   1  13.24  2.59  2.87  21.0  118  2.80  2.69  0.39  1.82  4.32  1.04  2.93

     13
0  1065
1  1050
2  1185
3  1480
4   735

#### Assign wine_df to a different variable wine_df_copy and delete all odd rows of wine_df_copy

In [8]:
wine_df_copy = wine_df.copy()
wine_df_copy = wine_df_copy[::2]

#### Assign the column names as below:
1) Class
2) Alcohol  
3) Malic acid  
4) Ash  
5) Alcalinity of ash  
6) Magnesium  
7) Total phenols  
8) Flavanoids  
9) Nonflavanoid phenols  
10) Proanthocyanins  
11) Color intensity  
12) Hue  
13) OD280/OD315 of diluted wines  
14) Proline

In [9]:
column_names = [
    "Class", "Alcohol", "Malic acid", "Ash", "Alcalinity of ash", "Magnesium",
    "Total phenols", "Flavanoids", "Nonflavanoid phenols", "Proanthocyanins",
    "Color intensity", "Hue", "OD280/OD315 of diluted wines", "Proline"
]
wine_df.columns = column_names

#### Set the values of the first 3 rows from Alchol as NaN

In [10]:
wine_df.loc[:2, "Alcohol"] = np.nan

####  How many nan values do we have?

In [11]:
nan_count = wine_df.isna().sum().sum()
print(nan_count)

3

#### Delete the rows that contain missing values using dropna function

In [12]:
wine_df = wine_df.dropna(axis=0)