# Lab 09 - Zain Ramzan

1. To create an identical list from the first list lst_1 = [1,2,3,4,5] using list comprehension, you can use the following code:

In [7]:
lst_1 = [1,2,3,4,5]
identical_list = [x for x in lst_1]
print(identical_list)

[1, 2, 3, 4, 5]

2. To create a list from the elements of a range from 7 to 50 with steps of 3 using list comprehension, you can use the following code:

In [8]:
new_list = [x for x in range(7, 51, 3)]
print(new_list)

[7, 10, 13, 16, 19, 22, 25, 28, 31, 34, 37, 40, 43, 46, 49]

3. To construct a new list by adding 6 to each item in the list lst_2 = [2,4,6] using list comprehension, you can use the following code:

In [9]:
lst_2 = [2, 4, 6, 8, 10]
new_list = [x + 6 for x in lst_2]
print(new_list)

[8, 10, 12, 14, 16]

4. To construct a list from the squares of each element in the list lst_3 = [2, 4, 6] using list comprehension, you can use the following code:

In [11]:
lst_3 = [2, 4, 6]
squared_list = [x**2 for x in lst_3]
print(squared_list)

[4, 16, 36]

5. To construct a list of the names of vehicles with weight below 5000 kilograms from the dictionary dict_1={"Sedan": 1500, "SUV": 2000, "Pickup": 2500, "Minivan": 1600, "Van": 2400, "Semi": 13600, "Bicycle": 7, "Motorcycle": 110} and make the key names all upper case using list comprehension, you can use the following code:

In [12]:
dict_1={"Sedan": 1500, "SUV": 2000, "Pickup": 2500, "Minivan": 1600, "Van": 2400, "Semi": 13600, "Bicycle": 7, "Motorcycle": 110}
vehicle_list = [key.upper() for key, value in dict_1.items() if value < 5000]
print(vehicle_list)

['SEDAN', 'SUV', 'PICKUP', 'MINIVAN', 'VAN', 'BICYCLE', 'MOTORCYCLE']